@use 'item';
@use 'createItem';
@use 'header';
@use 'footer';
@use 'user';

.App{
//   width: 100%;
    .addItemBtn{
        display: block;
        width:100px;
        height: 30px;
        font-size: larger;
        font-weight: bold;
        margin: 0 auto 50px auto;
    }
}