@use 'item';
@use 'checkBox';
@use 'createItem';
@use 'header';
@use 'footer';
@use 'user';

.App{
    background-color: whitesmoke;
    .addItemBtn{
        display: block;
        width:100px;
        font-size: larger;
        font-weight: bold;
        margin: 0 auto 50px auto;
    }
}